.App {
  padding: 48px;
}

.submitForm {
  animation: App-logo-spin infinite 20s linear;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.submitForm button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 48px;
}

.quotes .panel {
  width: 24%;
  margin: .5%;
  margin-bottom: 12px;
  position: relative;
}

.quotes .panel-body {
  padding: 20px;
  font-family: Arizonia, cursive;
  font-size: 20px;
}

.quotes .close {
  position: absolute;
  right: 3px;
  top: 2px;
}

#successMessage {
  font-weight: bold;
  visibility: hidden;
}
